In [1]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set it_companies

print(len(it_companies))

7

In [2]:
#Add 'Twitter' to it_companies
it_companies.add('Twitter')
print(it_companies)

{'Oracle', 'Facebook', 'Amazon', 'Twitter', 'IBM', 'Apple', 'Microsoft', 'Google'}

In [3]:
#Insert multiple IT companies at once to the set it_companies
it_companies.update({'verizon','US BANK','BOA'})

In [4]:
print(it_companies)

{'Oracle', 'IBM', 'Apple', 'Google', 'Facebook', 'verizon', 'US BANK', 'Amazon', 'BOA', 'Microsoft', 'Twitter'}

In [5]:
#Remove one of the companies from the set it_companies
it_companies.remove("Apple")
print(it_companies)

{'Oracle', 'IBM', 'Google', 'Facebook', 'verizon', 'US BANK', 'Amazon', 'BOA', 'Microsoft', 'Twitter'}

In [9]:
"""
what is the difference between remove and discard??

discard() in Python, removes the element from the set only if the element is present in the set. 

remove() in Python, removes the element from the set only if the element is present in the set.
The built-in method, remove() in Python, isjust as the discard() method does but If the element is not present in the set,
then an error or exception is raised.

"""

#Join A and B

A.union(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [8]:
#Find A intersection B
A.intersection(B)

{19, 20, 22, 24, 25, 26}

In [10]:
#Is A subset of B
print(A.issubset(B))

True

In [11]:
#Are A and B disjoint sets
print(A.isdisjoint(B))

False

In [14]:
#â€¢ Join A with B 
A.union(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [15]:
#join B with A
B.union(A)

{19, 20, 22, 24, 25, 26, 27, 28}

In [20]:
#symmetric difference between A and B
A.symmetric_difference(B)

{27, 28}

In [37]:
del A

del B

NameError: name 'A' is not defined

In [40]:
age_set=set(age)

In [41]:
print(age_set)

{19, 22, 24, 25, 26}

In [42]:
len(age)==len(age_set)

True